body {
  font-family: Montserrat;
  margin: 0;
  background-color: #141416;
  color: #fff;
  overflow-x: hidden;
}

.hero {
  max-width: 1120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
  padding: 56px 0;
  border-bottom: 1px solid #23262f;
}

.hero .hero-tile {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
}

.hero .hero-bg {
  width: 100%;
  height: 600px;
  background: url(../img/placeholder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.content {
  max-width: 1120px;
  padding: 40px 0;
  margin: 0 auto;
}

.content .content-title {
  display: inline-block;
  border-bottom: 1px solid #353945;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  padding: 32px 0;
}

.content .sub-content {
  padding: 24px 0;
}

.content .content-img {
  margin: auto;
  max-width: 1000px;
}
.content .content-img img {
  width: 100%;
  object-fit: cover;
}
.sub-content .sub-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 24px;
  margin: 24px 0 32px;
}

.sub-content .sub-title .title {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #b1b5c3;
  border-bottom: 1px solid #353945;
  padding-bottom: 24px;
}

.sub-content .desc {
  padding: 24px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #777e90;
}

@media (max-width: 480px) {
  .hero {
    max-width: 100%;
    gap: 32px;
    padding: 32px 0;
    margin: 0px 16px 0px 16px;
  }

  .hero .hero-bg {
    width: 100%;
    background: url(../img/placeholder11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .hero .hero-tile {
    font-size: 48px;
    font-weight: 700;
  }
  .hero .hero-bg {
    width: 100%;
    object-position: 50%;
  }
  .content {
    margin: 0 24px;
  }
  .content .content-title {
    font-size: 32px;
    padding: 16px 0;
  }
  .sub-content .sub-title {
    margin: 0;
    align-items: center;
  }
  .sub-content .sub-title .title {
    font-size: 24px;
  }
  .sub-content .desc {
    font-size: 14px;
  }

  iframe {
    width: 380px;
    margin-right: 120px;
  }
}
